log/*
*.pdf
Data/*
settings.json
run_simulation_csv.sh
runs_to_do*
Local/run*
Server/run*
Core/run*
Iridis/run*
Local/graphs/*
*__pycache__*
launch.json
h5data/*
MCMC_study.py
new_simulations.csv
su3_runs.ods
read_write/MCMC_test.h5
run_RW.py
ensemble_data/*
read_write/change_sign_MCMC.py
read_write/detect_binder_results.py
run_Plot_Binder.py
*.ods*
